<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wanandroidtest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--        今日头条优化方案 AndroidAutoSize适配方案-->
<!--        将测试屏幕的dp设置为基准，将宽或高px转换成对应地de  dp=px/(dpi/160)-->
        <meta-data android:name="design_width_in_dp"
            android:value="439"
            />
        <meta-data android:name="design_height_in_dp"
            android:value="975"
            />
        <activity
            android:name=".ui.fragment.setup.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.fragment.setup.SettingsFragment"
            android:exported="true"
            android:label="@string/title_activity_settings_fragment" />
        <activity
            android:name=".base.MainActivity33"
            android:exported="true" />
        <activity
            android:name=".ui.fragment.collect.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".ui.fragment.home.HomeFragment"
            android:exported="true" />
        <activity
            android:name=".ui.activity.loginregister.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.loginregister.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.WelcomActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>